@import "macchiato.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-lock,
#custom-power,
#custom-screenshot,
#custom-wifi-reset {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 1rem;
}

#battery {
  color: @green;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  border-radius: 0;
}

#network {
  color: @teal;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#bluetooth {
  color: @sapphire;
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
    font-size: 24px;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-screenshot {
  color: @peach;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 20px;
}

#custom-wifi-reset {
  color: @yellow;
  border-radius: 1rem;
  font-size: 18px;
  padding: 0.5rem 0.8rem;
  min-width: 20px;
}
